* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    font-family: 'Overpass', sans-serif;
    background-color: hsl(216, 12%, 8%);
    font-size: 15px;
}

.container {
    background-color: hsl(213, 19%, 18%);
    margin: 120px auto;
    width: 25%;
    border-radius: 15px;
    padding: 20px;
}

h2 {
    color: hsl(0, 0%, 100%);
    margin: 20px 0px;
    font-weight: normal;
}

p {
    line-height: 1.5;
    color: hsl(216, 12%, 54%)
}

.btn {
    border: 2px solid hsl(213, 19%, 18%);
    border-radius: 50%;
    color: hsl(217, 12%, 63%);
    background-color: hsl(214, 18%, 23%);
    padding: 14px 18px;
    font-weight: 700;
    cursor: pointer;
}

.btn:hover {
    background-color: hsl(217, 12%, 63%);
    color: hsl(0, 0%, 100%);
}

.btn1 {
    border: 2px solid hsl(213, 19%, 18%);
    border-radius: 50%;
    color: hsl(217, 12%, 63%);
    background-color: hsl(214, 18%, 23%);
    padding: 9px 12px;
    font-weight: 700;
    cursor: pointer;
    width: 5%;
}

.submit-btn {
    border: 2px solid hsl(25, 97%, 53%);
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    border-radius: 20px;
    width: 100%;
    padding: 10px 14px;
    margin-top: 15px;
    cursor: pointer;
}

.submit-btn:hover {
    border: 2px solid hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
    background-color: hsl(0, 0%, 100%);
}

.rank-btn {
    display: flex;
    justify-content: space-between;
    margin: 15px 0px;
}

.thank-you-img {
    display: block;
    margin: auto auto;
    width: 40%;
}

.thank {
    text-align: center;
}

.selected {
    background-color: hsl(214, 18%, 23%);
    color: hsl(25, 97%, 53%);
    border-radius: 20px;
    width: max-content;
    margin: 25px auto;
    padding: 5px 25px;
}

h3 {
    margin: 0;
}

.thank-you {
    margin-top: 38px;
}

.appreciate {
    margin-top: 15px;
    margin-bottom: 20px;
}

.active,
.active:hover {
    border: 2px solid hsl(25, 97%, 53%);
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}

footer {
    text-align: center;
    color: hsl(217, 12%, 63%);
}

.link {
    color: hsl(25, 97%, 53%);
}